/* Primary colors */
/* Secondary colors */
/* FONT definition */
@font-face {
  font-family: Kumbh-Sans;
  src: url("../fonts/KumbhSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Kumbh-Sans;
  src: url("../fonts/KumbhSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Kumbh-Sans;
  src: url("../fonts/KumbhSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

html {
  padding: 0;
  margin: 0;
}

body {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: Kumbh-Sans , sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
  overflow-x: hidden;
}

body h1 {
  font-size: 28px;
  line-height: 34px;
}

body h2 {
  font-size: 24px;
  line-height: 29px;
}

body h3 {
  font-size: 20px;
  line-height: 24px;
}

body h4 {
  font-size: 14px;
  line-height: 18px;
}

body a {
  text-decoration: none;
}

body.dark-mode {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #121721;
}

body.dark-mode .search-container {
  background-color: #19202d;
}

body.dark-mode .search-container input[type=text] {
  font-size: 17px;
  border: none;
  outline: none;
  background-color: #19202d;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body.dark-mode .search-checkbox {
  color: #ffffff;
}

body.dark-mode .element {
  background-color: #19202d;
}

body.dark-mode .element h2 {
  color: #ffffff;
}

body.dark-mode .element .companyLogo {
  background-color: #6E8098;
  border: solid 5px #6E8098;
}

body.dark-mode #intro {
  background-color: #19202d;
  color: #ffffff;
}

body.dark-mode #description {
  background-color: #19202d;
  color: #ffffff;
}

body.dark-mode #footer {
  background-color: #19202d;
  color: #ffffff;
}

body.dark-mode .btn-2 {
  background-color: #6E8098;
  color: #ffffff;
}

body.dark-mode .btn-2:hover {
  background-color: #9DaeC2;
}

.all {
  padding-left: 12vw;
  padding-right: 12vw;
  margin-bottom: 10vh;
}

/* Buttons */
.divBtn {
  width: 140px;
  height: 45px;
}

.btn {
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-1 {
  background-color: #5964E0;
  color: #ffffff;
}

.btn-1:hover {
  background-color: #939BF4;
}

.btn-2 {
  background-color: #f4f6f8;
  color: #5964E0;
}

.btn-2:hover {
  background-color: #b6bcf5;
}

/* Toggle switch */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 30px;
}

.switch input {
  /* Hide default HTML checkbox */
  opacity: 0;
  width: 0;
  height: 0;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(40px);
  transform: translateX(40px);
}

/* Toggle switch: The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 5.5px;
  bottom: 5px;
  background-color: #5964E0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:hover::before {
  background-color: #939BF4;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Search bar */
.search-container {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  width: 100%;
  height: 75px;
  border-radius: 10px;
  padding-left: 15px;
}

.search-container .search-job {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-container .search-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border-left: solid 2px #9DaeC2;
  padding-left: 1vw;
}

.search-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.search-container input[type=text] {
  font-size: 17px;
  border: none;
  outline: none;
  width: 11vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.search-container img {
  margin: 0 10px 0 0;
}

/* Checkbox */
.search-checkbox {
  margin-right: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border-left: solid 2px #9DaeC2;
  padding-left: 1vw;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  margin-right: 1vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 700;
}

.container input {
  /* Hide the browser's default checkbox */
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container input:checked ~ .checkmark {
  /* When the checkbox is checked, add a blue background */
  background-color: #5964E0;
}

.container input:checked ~ .checkmark:after {
  /* Show the checkmark when checked */
  display: block;
}

.container:hover input ~ .checkmark {
  /* On mouse-over, add a grey background color */
  background-color: #939BF4;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.checkmark:after {
  /* Create the checkmark/indicator (hidden when not checked) */
  content: "";
  position: absolute;
  display: none;
}

.checkmark:after {
  /* Style the checkmark/indicator */
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Le reste */
.pattern-header {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 1536px;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  /* background-image: url(../assets/desktop/bg-pattern-header.svg); */
}

#header h1 {
  color: #ffffff;
}

#header h1 a {
  color: #ffffff;
}

#header .darkSwitch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 120px;
}

.results {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(1, 1fr); */
  margin-top: 100px;
  -webkit-column-gap: 3vw;
          column-gap: 3vw;
  row-gap: 4vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.element {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #ffffff;
  padding: 30px 30px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

.element * {
  margin: 8px;
}

.element p {
  color: #9DaeC2;
}

.element h4 {
  color: #5964E0;
}

.element .companyLogo {
  height: 20%;
  max-width: 100px;
  margin-top: -50px;
  background-color: #ffffff;
  border-radius: 5px;
  border: solid 5px #ffffff;
}

/* Description Page */
.descriAll {
  padding: 0 15vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 150px 1fr 300px;
      grid-template-rows: 150px 1fr 300px;
  row-gap: 40px;
}

#intro {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #ffffff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2vh 2vw;
}

#description {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #ffffff;
  padding: 2vh 2vw;
  border-radius: 5px;
}

#description .subDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#how-to-apply {
  background-image: url(../assets/desktop/bg-pattern-detail-footer.svg);
  background-repeat: no-repeat;
  border-radius: 5px;
  padding: 2vh 2vw;
  color: #ffffff;
}

#how-to-apply a {
  color: #ffffff;
}

#footer {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #ffffff;
  margin-top: 80px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 27vw;
}

#footer h3 {
  width: 500px;
}

#footer a {
  right: 0;
}

@media (min-width: 650px) {
  #mobileSearch {
    display: none;
  }
  #filterMobile {
    display: none;
  }
}

@media (max-width: 1200px) {
  .results {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 7vh;
  }
  .all {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .descriAll {
    padding: 0 5vw;
  }
  #footer {
    padding: 0 17vw;
  }
}

@media (max-width: 650px) {
  .results {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 10vh;
  }
  .descriAll {
    padding: 0 0vw 0 0vw;
    -ms-grid-rows: 250px 1fr 300px;
        grid-template-rows: 250px 1fr 300px;
  }
  #intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #footer {
    padding: 5vh 2vw;
  }
  #footer .jobFooter {
    display: none;
  }
  #footer .divBtn {
    width: 80%;
    margin-left: 10%;
  }
  .search-job #job-name {
    width: 40vw;
  }
  #search-location {
    display: none;
  }
  #search-location img {
    display: none;
  }
  #search-location #location {
    display: none;
  }
  .search-checkbox {
    display: none;
  }
  #filterMobile {
    cursor: pointer;
  }
}
/*# sourceMappingURL=main.css.map */