/* Primary colors */
$violet : #5964E0;
$lightViolet : #939BF4;
$veryDarkBlue : #19202d;
$midnight : #121721;
/* Secondary colors */
$white : #ffffff;
$lightGrey : #f4f6f8;
$grey : #9DaeC2;
$darkGrey : #6E8098;

/* FONT definition */
@font-face {
    font-family: Kumbh-Sans;
    src: url('../fonts/KumbhSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Kumbh-Sans;
    src: url('../fonts/KumbhSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Kumbh-Sans;
    src: url('../fonts/KumbhSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

html {
    padding: 0;
    margin: 0;
}

body {
    transition: 0.3s;
    font-family: Kumbh-Sans , sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    overflow-x: hidden;
    h1 {
        font-size: 28px;
        line-height: 34px;
    }
    h2 {
        font-size: 24px;
        line-height: 29px;
    }
    h3 {
        font-size: 20px;
        line-height: 24px;
    }
    h4 {
        font-size: 14px;
        line-height: 18px;
    }
    a {
        text-decoration: none;
    }
}

body.dark-mode {
    transition: 0.3s;
    background-color: $midnight;
    .search-container {
        background-color: $veryDarkBlue;
        input[type=text] {
            font-size: 17px;
            border: none;
            outline: none;
            background-color: $veryDarkBlue;
            color: $white;
            transition: 0.3s;
        }
    }
    .search-checkbox {
        color: $white;
    }
    .element {
        background-color: $veryDarkBlue;
        h2 {
            color: $white;
        }
        .companyLogo {
            background-color: $darkGrey;
            border: solid 5px $darkGrey;
        }
    }
    #intro {
        background-color: $veryDarkBlue;
        color: $white;
    }
    #description {
        background-color: $veryDarkBlue;
        color: $white;
    }
    #footer {
        background-color: $veryDarkBlue;
        color: $white;
    }
    .btn-2 {
        background-color: $darkGrey;
        color: $white;
        &:hover {
            background-color: $grey;
    }
    }
}

.all {
    padding-left: 12vw;
    padding-right: 12vw;
    margin-bottom: 10vh;
}

/* Buttons */
.divBtn {
    width: 140px;
    height: 45px;
}

.btn {
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.btn-1 {
    background-color: $violet;
    color: $white;
    &:hover {
        background-color: $lightViolet;
    }
}
.btn-2 {
    background-color: $lightGrey;
    color: $violet;
    &:hover {
        background-color: #b6bcf5;
    }
}
/* Toggle switch */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 30px;
    input { /* Hide default HTML checkbox */
        opacity: 0;
        width: 0;
        height: 0;
        &:checked + .slider:before {
            -webkit-transform: translateX(40px);
            -ms-transform: translateX(40px);
            transform: translateX(40px);
        }
    }
}
/* Toggle switch: The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $white;
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 5.5px;
        bottom: 5px;
        background-color: $violet;
        -webkit-transition: .4s;
        transition: .4s;
    }
    &:hover::before {
        background-color: $lightViolet;
    }
    &.round {
        border-radius: 34px;
        &:before {
            border-radius: 50%;
        }
    }
}

/* Search bar */
.search-container {
    transition: 0.3s;
    display: flex;
    justify-content: center;
    background-color: $white;
    width: 100%;
    height: 75px;
    border-radius: 10px;
    padding-left: 15px;
    .search-job {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .search-location {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        border-left: solid 2px $grey;
        padding-left: 1vw;
    }
    form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
    input[type=text] {
        font-size: 17px;
        border: none;
        outline: none;
        width: 11vw;
        transition: 0.3s;
    }
    img {
        margin: 0 10px 0 0;
    }
}

/* Checkbox */
.search-checkbox {
    margin-right: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-left: solid 2px $grey;
    padding-left: 1vw;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    margin-right: 1vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.3s;
    font-weight: 700;
    input { /* Hide the browser's default checkbox */
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark { /* When the checkbox is checked, add a blue background */
            background-color: $violet;
        }
        &:checked ~ .checkmark:after { /* Show the checkmark when checked */
            display: block;
        }
    }
    &:hover input ~ .checkmark { /* On mouse-over, add a grey background color */
        background-color: $lightViolet;
    }
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
    transition: 0.4s;
    &:after { /* Create the checkmark/indicator (hidden when not checked) */
        content: "";
        position: absolute;
        display: none;
    }
    &:after { /* Style the checkmark/indicator */
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    }
}
/* Le reste */
.pattern-header {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 1536px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    /* background-image: url(../assets/desktop/bg-pattern-header.svg); */
    h1 {
        color: $white;
        a {
            color: $white;
        }
    }
    .darkSwitch {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 120px;
    }
}

.results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(1, 1fr); */
    margin-top: 100px;
    column-gap: 3vw;
    row-gap: 4vw;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.element {
    transition: 0.3s;
    background-color: $white;
    padding: 30px 30px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    * {
        margin: 8px;
    }
    p {
        color: $grey;
    }
    h4 {
        color: $violet;
    }
    .companyLogo {
        height: 20%;
        max-width: 100px;
        margin-top: -50px;
        background-color: $white;
        border-radius: 5px;
        border: solid 5px $white;
    }
}

/* Description Page */

.descriAll {
    padding: 0 15vw;
    display: grid;
    grid-template-rows: 150px 1fr 300px;
    row-gap: 40px;
}

#intro {
    transition: 0.3s;
    background-color: $white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2vh 2vw;
}

#description {
    transition: 0.3s;
    background-color: $white;
    padding: 2vh 2vw;
    border-radius: 5px;
    .subDescription {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

#how-to-apply {
    background-image: url(../assets/desktop/bg-pattern-detail-footer.svg);
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 2vh 2vw;
    color: $white;
    a {
        color: $white;
    }
}

#footer {
    transition: 0.3s;
    background-color: $white;
    margin-top: 80px;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 27vw;
    a {
        margin-left: 19vw;
    }
}

@media (max-width: 1200px) {
    .results {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 7vh;
    }
    .all {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .descriAll {
        padding: 0 5vw;
    }
    #footer {
        padding: 0 17vw;
    }
}


@media (max-width: 650px) {
    .results {
        grid-template-columns: 1fr;
        row-gap: 10vh;
    }
    .all {
        padding-left: 11vw;
        padding-right: 5vw;
    }
    .descriAll {
        padding: 0 0vw 0 0vw;
        grid-template-rows: 250px 1fr 300px;
    }
    #intro {
        flex-direction: column;
    }
    #footer {
        padding: 5vh 2vw;
        
        .jobFooter {
            display: none;
        }
        .divBtn {
            width: 80%;
            margin-left: -10%;
        }
    }
}